# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.swp
*.swo
*.swp
*.swn
*.DS_Store

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

# Debug files
*.dSYM/

#user local config
*.user
*.user.*

#YCM compile flags
compile_commands.json
build/
.clangd/
