name: Coverall

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  coverall:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        cd $HOME
        git clone https://github.com/google/googletest.git
        cd googletest
        git checkout e93da23920e5b6887d6a6a291c3a59f83f5b579e
        mkdir _build && cd _build
        CC=gcc CXX=g++ cmake -DCMAKE_CXX_FLAGS="-std=c++11 -march=x86-64 -mtune=generic" ..
        make -j$(nproc)
        sudo make install
        cd $GITHUB_WORKSPACE
        echo $GITHUB_WORKSPACE
    - name: Install Coverall
      run: |
        sudo apt-get install -y lcov
    - name: CMake
      run: |
          mkdir build && cd build
          CC=gcc CXX=g++ cmake -DTEST_COVERAGE=ON -DBUILD_TESTING=ON -DCMAKE_BUILD_TYPE=Debug ..
    - name: Check coverage
      run: |
          cd build
          make coverage
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        path-to-lcov: build/coverage.info
