name: Coverity Scan

on:
  schedule:
    # At 06:00 on Saturday
    - cron: '0 6 * * 6'

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        cd $HOME
        git clone https://github.com/google/googletest.git
        cd googletest
        git checkout e93da23920e5b6887d6a6a291c3a59f83f5b579e
        mkdir _build && cd _build
        cmake -DCMAKE_CXX_FLAGS="-std=c++11 -march=x86-64 -mtune=generic" ..
        make -j$(nproc)
        sudo make install
        cd $GITHUB_WORKSPACE
        echo $GITHUB_WORKSPACE
    - name: Download coverity
      run: |
        wget -q https://scan.coverity.com/download/linux64 --post-data "token=${{ secrets.COVERITY_SCAN_TOKEN }}&project=f-squirrel_thread_pool" -O coverity_tool.tgz
        mkdir coverity_tool && tar xf coverity_tool.tgz -C coverity_tool --strip-components=1
    - name: Scan
      run: |
        mkdir coverityBuild && cd coverityBuild
        cmake ..
        ../coverity_tool/bin/cov-build --dir cov-int make;
        tar czvf cov-int.tgz cov-int
    - name: Upload results
      run: >
        curl --form token=${{ secrets.COVERITY_SCAN_TOKEN }}
        --form email=${{ secrets.COVERITY_EMAIL }}
        --form file=@coverityBuild/cov-int.tgz
        --form version=${{ github.sha }}
        --form description=${{ github.sha }}
        https://scan.coverity.com/builds?project=f-squirrel_thread_pool
